/build
/local.properties
/.idea/workspace.xml
/.idea/libraries
/captures
/local.properties
/build
/captures
/vendor
/out
/Output
/data
/temp
/pdf
/logs
/classes
/.idea/*
.DS_Store
.gradle
.idea
.idea/*
.settings
*.iml
*.classpath
*.project
*.prefs
*.log
*.db
*.lic
*.pdf
*.aab