/build
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
/local.properties
/build
/captures
/vendor
/out
/Output
/data
/temp
/pdf
/logs
/classes
.DS_Store
.idea
.settings
.gradle
.apk
.aab
*.iml
*.classpath
*.project
*.prefs
*.log
*.db
*.lic
*.pdf
*.aab
*.apk