<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.form.controllers.FormDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".modules.form.controllers.DeepLinkActivity"
            android:exported="false" />
        <activity
            android:name=".modules.chat.ChatActivity"
            android:exported="true" />
        <activity android:name=".modules.mvvm.views.MVVMActivity" />
        <activity android:name=".modules.formscroll.controllers.FormScrollActivity" />
        <activity android:name=".modules.form.controllers.FormSimpleActivity" />
        <activity android:name=".modules.fragmentbottomnavigation.controllers.FragmentBottomNavigationActivity" />
        <activity android:name=".modules.fragmentbottom.controllers.FragmentBottomActivity" />
        <activity android:name=".modules.fragment.controllers.FragmentActivity" />
        <activity android:name=".modules.adapter.controllers.AdapterSampleActivity" />
        <activity
            android:name=".modules.main.controllers.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>